body {
    display: grid;
    grid-template-rows: 60px auto;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI Light';
}

.toolbar {
    display: flex;
    padding: 10px;
    background: plum;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.header1 {
    font-size: larger;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#mymap {
    width: 600px;
    height: 400px;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}